<p>Choose your move:</p>

<%= link_to "Rock", rps_result_path(:weapon => "rock"), method: :post %>
<%= link_to "Paper", rps_result_path(:weapon => "paper"), method: :post %>
<%= link_to "Scissors", rps_result_path(:weapon => "scissors"), method: :post %>