<h1>Welcome to my blog!</h1>

<%= link_to "New Post", new_post_path %>
<br>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>

    <%= link_to "See more", post_path(post.id) %>
  </div>
<% end %>